body {
    color: #333;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: rgb(132, 52, 31);
    box-shadow: opx 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em; 
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 60%;
    padding: 1em;
    text-align: center;
    border: 1px solid rgb(105, 6, 29);
    border-radius: 10px;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#footer {
    background: rgb(32, 37, 61);
    color: white;
    text-align: center;
    padding: 0.5em;
}